header {
    border-bottom: 1px solid map-get($paleta-colores,negroTexto);
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 $margenMinimo;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: map-get($paleta-colores,negroTexto);
    font-family: 'Nunito Sans';
}