$paleta-colores: (
    negroTexto: black,
    fondoTarjeta: white,
    fondoVerde: darkslategrey,
    bordeGris: #ccc,
    blancoTexto: azure,
    fondoCalendario: orange,
    fondoGaleria: rgb(218, 211, 211),
    fondoGeneral: #F3F3F3,
    tituloTexto: rgb(8, 114, 16)
    )